# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.Zone.Identifier

# Temp
*.repo-update
frontfail.jpeg
frontfail.jpeg:Zone.Identifier
